@page "/comecar"
@layout HeadlessLayout
@inherits RegisterPage

<PageTitle>BarberShop - Entrar</PageTitle>


<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8">

            <MudStack AlignItems="AlignItems.Center" Spacing="2">
                <img src="imgs/Essencia Da Beleza (2).png"
                     alt="BarberShop - Gestão de Barbearia"
                     width="200" />
            </MudStack>

            <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
                <DataAnnotationsValidator />

                <MudTextField T="string"
                              Label="Nome Completo"
                              For="@(() => InputModel.Nome)"
                              @bind-Value="InputModel.Nome"
                              Required="true"
                              RequiredError="Nome inválido" />

                <MudTextField T="string"
                              Label="Número"
                              For="@(() => InputModel.Telefone)"
                              @bind-Value="InputModel.Telefone"
                              InputType="InputType.Telephone"
                              Required="true"
                              RequiredError="Número inválido" />

                <MudTextField T="string"
                              Label="E-mail"
                              For="@(() => InputModel.Email)"
                              @bind-Value="InputModel.Email"
                              InputType="InputType.Email"
                              Required="true"
                              RequiredError="E-mail inválido" />

                <MudTextField T="string"
                              Label="Senha"
                              For="@(() => InputModel.Senha)"
                              @bind-Value="InputModel.Senha"
                              InputType="InputType.Password"
                              Required="true"
                              RequiredError="Senha inválida" />

                <div class="d-flex mt-8">
                    @if (IsBusy)
                    {
                        <MudProgressCircular Color="Color.Info" Indeterminate="true"/>
                    }
                    else
                    {
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">COMEÇAR</MudButton>
                        <MudSpacer />
                        <MudButton Href="/entrar">JÁ TENHO UMA CONTA</MudButton>
                    }
                </div>
            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>